@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meu primeiro projeto em asp .Net MVC</h1>
    <h3>Aplicação de Entity Framework e relacionamento de tabelas com Banco de dados Local</h3>
    <p>Mais sobre mim: <a href="https://www.linkedin.com/in/ingrithreis/">Contato Linkedin</a>.</p>
</div>
